/* *{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
} */
body{
    background-color: darkcyan;
}
.product-box{
    width: 18%;
    float: left;
    margin:30px calc(10%/10)
}
.product-box img{
    width: 100%;
    vertical-align: bottom;
    vertical-align: top;

 

}
.product-content{
    background-color: white;
    padding: 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;

}
.product-box:hover .product-img img{
    filter: blur(2px);
}
.beginning {
    background-color: red;
    color: white;
    padding: 7px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  text-align: center;
   
}
.beginning h5{
  margin-block-end: 0;
}
